.overlay{
	position: fixed;
	z-index: 999;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: show;
	margin: auto;
	background: rgba(0, 0, 0, .3);
}
.class_subject.selected{
	background: #3cf;
}
.table{
	margin-bottom: 0;
}