#auth-form{
	position: relative;
	padding: 39px 0px 14px;
	background-color: #FFF;
	border: 1px solid #DDD;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.form-wrapper{
	width:420px;
	margin:0 auto;
	margin-top:150px
}
#auth-form.form-horizontal .control-label{
	width:110px;
}
#auth-form.form-horizontal .controls{
	margin-left:130px
}
#auth-form label.checkbox{
	width:105px;
}