.alert {
    margin-bottom: 10px;
    padding: 5px;
    font-weight: bold;
}
.alert-dismissable .close, .alert-dismissible .close {
    right: 0;
    top: 0;
}
.table {
    margin-bottom: 0;
}
.panel-heading {
    padding: 5px 15px;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-bottom: 5px;
    margin-top: 5px;
}
.app_content {
    margin-top: 50px;
}
.col-sm-9, .col-sm-3{
    padding-left: 10px;
    padding-right: 10px;
}