.filters{
	background: #f6f6f6;
	padding: 10px;
	border: 1px solid #e0e0e0;
	font-size: 12px;
	margin-bottom: 15px;
}
.filters .form-group{
	margin-right: 20px;
}
.dataTables_wrapper .row{
	margin:0 -10px;
}
.form-group-sm .control-label{
	padding-top: 4px;
}
.form-group-sm .form-control{
	height: 24px;
	line-height: 24px;
	padding: 2px 10px;
}
.btn{
	margin-top: 10px;
	margin-bottom: 15px;
}
.split_line{
	content: "";
	display: block;
	clear: both;
	height: 1px;
	width: 85%;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fefefe;
	margin: 10px auto;
}
.print_options .form-group{
	margin: 0;
}
.checkbox{
	margin: 0;
}