.table {
    margin-bottom: 0;
    
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    padding:5px;
    line-height: 1.4;
    font-size: 11px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding: 5px;
}
.well {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 5px;
    min-height: 20px;
    padding: 5px;
}

.panel-heading {
    padding: 5px 15px;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-bottom: 5px;
    margin-top: 5px;
}
.col-sm-9, .col-sm-3{
    padding-left: 10px;
    padding-right: 10px;
}
.auto_scroll {
    overflow-y: auto;
}

.profile_scroll_gf{
    height: 322px;
}
.profile_scroll_gen{
    height: 170px;
}
.profile_scroll_base{
    height: 322px;
}

.profile_scroll_term{
    height: 847px;
}
.row_selected{
    background-color: #C6EDB6 !important;
}
.panel-body {
    padding: 10px;
}

.row_title{
    background: #D9EDF7 !important;
}